{% extends 'base-no-sidebar.html' %}
{% block title %}Login{% endblock %}
{% block header %}
    <span class="icon fa-cog"></span>
    <h2>Login</h2>
    <p>If you're not an admin of this site, please leave.</p>
{% endblock %}
{% block content %}
    <section>
        <form class="column 50%" method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }}{{ form.name() }}
            {{ form.password.label }}{{ form.password() }}
            <br>
            {{ form.submit() }}
        </form>
    </section>
{% endblock %}
